@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Lato&family=Oswald&family=Outfit&family=Poppins:wght@400;600;700&family=Shadows+Into+Light&family=Ubuntu&display=swap');


:root {
    --dark: #3D405B;
    --dark-alt: #023047;
    --light: #F4F1DE;
    --light-alt: #F2CC8F;
    --primary: #E07A5F;
    --secondary: #81B29A;
}

* {
    font-family: 'Shadows Into Light','Oswald', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding: 32px;
}

body {
    background-color: var(--dark-alt);
    color: var(--light);
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

h4 {
    color: var(--light-alt);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.addPopup {
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--primary),  var(--secondary));
    border-radius: 999px;
    bottom: 32px;
    color: var(--light);
    cursor: pointer;
    display: flex;
    font-size: 28px;
    font-weight: 900;
    height: 64px;
    justify-content: center;
    position: fixed;
    right: 32px;
    width: 64px;
}

.task {
    align-items: center;
    background-color: var(--dark);
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    transition: 0.5s;
}

.task:hover {
    opacity: 0.8;
}

.task .checkbox {
    background-color: var(--dark-alt);
    border-radius: 999px;
    margin-right: 16px;
    height: 20px;
    transition: 0.4s;
    width: 20px;
}

.task.is-complete .checkbox {
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, var(--primary)), var(--secondary);
}

.task .text {
    font-size: 20px;
}

.task.is-complete .text {
    text-decoration: line-through;
}

.task .delete-task {
    align-items: center;
    background-color: #AF1E2D;
    border-radius: 50%;
    color: var(--light);
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}